body {
  padding: 0px;
  margin: 0px;
   box-sizing: border-box;
}

ul {
 display: flex;
 flex-wrap: wrap;
 gap: 12px;
 padding: 24px;
  list-style-type: none;
  margin:0px;
  overflow: hidden;
  background-color: #1F2937;
  font-size: 24px;
}
ul li a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;


}

ul li a:hover {
  background-color: #111111;
}

.logo {
    margin-right: auto;
}
.logo a {
  font-weight: 500;
  font-size: 32px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1F2937;
  color: white;
  font-size: 18px;
}
.hero-img {
  width: 100%;
  height: auto;
  flex-grow: 1;
  flex-shrink: 1;
}
.hero-text {
  padding: 24px;
  flex-grow: 1;
  flex-shrink: 1;
}
button {
  background-color: #3882F6;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 12px 24px;
  cursor: pointer;
}
